<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>See author info</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Library System</h1>
    <hr>
    <h2>Author info</h2>
    <div th:object="${author}">
        <label>Author name:</label>
        <div th:text="${author.name}"></div>
    </div>
    <a th:href="@{/authors}">Back to authors list</a>
</div>
</body>
</html>
