<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Library System</h1>
    <hr>
    <h2>Add book</h2>
    <form action="#" th:action="@{/books/save}" th:object="${book}" method="post">
        <input type="text" th:field="*{name}" placeholder="Book name" class="form-control mb-4 col-4">
        <div>
            <label>Select book author:</label>
            <select class="form-control mb-4 col-4" th:field="*{author}">
                <div th:each="author : ${bookAuthor}">
                    <option th:text="${author.name}" th:value="${author.id}"></option>
                </div>
            </select>
            <a th:href="@{/authors/add}">I wanna create author</a>
        </div>
        <br>
        <div>
            <label>Select book genre:</label>
            <select class="form-control mb-4 col-4" th:field="*{genre}">
                <div th:each="genre : ${bookGenre}">
                    <option th:text="${genre}" th:value="${genre}"></option>
                </div>
            </select>
        </div>
        <button type="submit" class="btn btn-info col-2">Save book</button>
    </form>
    <br>
    <a th:href="@{/books}">Back to book list</a>
</div>
</body>
</html>
